%p
  Results found: 
.results
  - if @hotels.any?
    %table.hotel-list-table
      %thead
        %tr
          %th Name
      %tbody
        - @hotels.each do |hotel|
          %tr
            %td= hotel.name
          %tr
            %td= link_to "Book Hotel", new_hotel_booking_path(hotel.place_id)